<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>My app</h1>
    <img src="/public/poa_logo_pos_rgb.png" alt="">
</body>
</html>