<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur exercitationem eaque inventore laboriosam mollitia accusantium, necessitatibus ipsum iste. Numquam explicabo in distinctio asperiores mollitia suscipit aperiam cupiditate hic eaque.</p>
</body>
</html>