<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= pikachu.name %> </h1>
    <p>
        The weight of <%= pikachu.name %> is <%= pikachu.weight %>.<br/>
        Its ID is <%= pikachu.id %>.
    </p>
    <img src="<%= pikachu.sprites.other.dream_world.front_default %>" alt="">
    <img src="<%= pikachu.sprites.back_shiny %>" alt="">
</body>
</html>