<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>
        my name is <%= data.name %> and I am <%= data.age %>
        <img src="<%= data.profilepic %>" alt="">
    </p>
</body>
</html>